In [5]:
#First I'am collecting the indicators for estimating the GDP:

## IPCA
## O IPCA - Índice Nacional de Preços ao Consumidor Amplo - 
## aponta a variação do custo de vida médio de famílias com renda mensal de 1 e 40 salários mínimos.

## Custo do m²
## As séries mensais de custos e índices de custos referem-se ao valor do metro quadrado de uma construção
## no canteiro de obras. São medidas pela SINAPI - Sistema Nacional de Pesquisa de Custos e Índices da Construção Civil.

## PIB real variação anual
##A variação do PIB, medida pelo SCNT - Sistema de Contas Nacionais Trimestrais - traz a evolução do PIB no tempo,
##comparando seu desempenho trimestre a trimestre e ano a ano.

## Indústria
## A produção da indústria é calculada pela PIM-PF - Pesquisa Industrial Mensal Produção Física - 
## e reflete as alterações das quantidades de bens e serviços produzidos pela indústria ao longo do tempo.


## Comércio
## A variação do índice de volume de vendas do comércio varejista é calculada pela PMC - Pesquisa Mensal do Comércio.

## Serviços
## A variação do índice do volume de serviços é calculada pela 
## PMS - Pesquisa Mensal de Serviços e permite acompanhar o comportamento conjuntural deste setor no País.

## Estimativa da população
## As estimativas anuais de população para os municípios e para as Unidades da Federação brasileiras 
## têm data de referência em 1º de julho e são realizadas para os anos em que não há Censo Demográfico ou Contagem da População.

## Desemprego
## O desemprego se refere às pessoas com idade para trabalhar que não estão trabalhando, mas estão disponíveis 
## e tentam encontrar trabalho. É calculado pela PNAD Contínua - Pesquisa Nacional por Amostra de Domicílios Contínua.

In [30]:
## IPCA data
import pandas as pd

df = pd.read_csv("./IPCA.csv", index_col=0)
df

       IPCA
year
1994  18.57
1995  22.41
1996   9.56
1997   5.22
1998   1.65
1999   8.94
2000   5.97
2001   7.67
2002  12.53
2003   9.30
2004   7.60
2005   5.69
2006   3.14
2007   4.46
2008   5.90
2009   4.31
2010   5.91
2011   6.50
2012   5.84
2013   5.91
2014   6.41
2015  10.67
2016   6.29
2017   2.95
2018   3.75
2019   4.31
2020   0.21

In [11]:
df.dtypes

year    int64
dtype: object

In [29]:
#Square root meter cost data
df1 = pd.read_excel("./var custo medio m2.xlsx", index_col=0)
df1

      var custo medio m2
Year
1994                3.96
1995               20.25
1996                4.83
1997                4.16
1998                1.57
1999                7.62
2000                6.01
2001                8.60
2002               12.68
2003               13.47
2004               10.44
2005                6.77
2006                5.03
2007                5.93
2008               11.18
2009                5.70
2010                7.11
2011                5.51
2012                5.53
2013                1.17
2014                6.03
2015                5.37
2016                6.45
2017                3.76
2018                4.32
2019                3.96
2020                9.74